* {
    -fx-text-fill: #c00000;
    -fx-font-family: "OpenSymbol";
}
.root {
    -fx-background-color: radial-gradient(focus-angle 360deg, center 50% 50%, radius 75%, green, black);
    -fx-font-size: 16px;
    -fx-text-fill: red;
}
.title {
    -fx-font-size: 28px;
}
.button {
    -fx-background-radius: 5px;
    -fx-background-color: radial-gradient(focus-angle 360deg, center 50% 50%, radius 130%, #d0b000, black);
    -fx-text-fill: black;
}
#labelBox {
    -fx-background-color: #4e3800;
}